@import "../../styles/mixin";
.sortMenu{
  display: flex;
  list-style: none;
  justify-content: flex-end;
  li{
    padding: 0 40px;
    border-right: 1px $wh solid;
    cursor: pointer;
    a {
      @include fonts(16px, $wh);
      text-decoration: none;
      &:active{
        color: orange;
      }
    }
    &:last-child{
      border-right: none;
      margin-right:0;
    }
  }
}