@import "../../styles/mixin";

.details {
  display: flex;
  padding: 80px;
  margin: 120px 80px 80px 80px;
  background: white;
  border-radius: 20px;
  flex-direction: row;
  justify-content: space-around;
  box-sizing: border-box;
  min-height: 100vh;
  flex-wrap: wrap;

  .image {
    width: 600px;
    border-radius: 20px;
    min-height: 400px;
    max-height: 500px;
  }

  .recipe {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 400px;

    .title {
      @include fonts(27px, $bg);
      @include builderAligment(flex, center, 100%);
      font-weight: bold;
      margin-bottom: 40px;
      width: 100%;
    }

    .elems {
      @include builder(flex, 100%);
      padding: 0px 0 20px 0;
      box-sizing: border-box;
      flex-direction: row;
      margin-right: 45px;

      .findRecipeTime {
        @include fonts(11px, $bg);
        margin-right: 62px;
      }

      .findRecipeSave {
        @include fonts(11px, $bg);
        position: relative;
      }
    }

    .recipeTitle {
      @include fonts(16px, $bg);
    }

    .ingredientsWrapper {
      @include builderAligment(flex, center, 100%);
      flex-wrap: wrap;
      padding: 20px 0 0 0;
      box-sizing: border-box;
      .ingredientsTitle {
        @include builderAligment(flex, space-between, 100%);
        margin-bottom: 20px;
        .name {
          @include fonts(16px, $bg, 500);
          align-items: center;
          text-transform: uppercase;
          margin-right: 60px;
          display: flex;
          padding: 0;
          box-sizing: border-box;
        }

        .amount {
          display: flex;
          justify-content: center;
          @include fonts(11px, $bg);
          text-transform: uppercase;
          align-items: center;
            .count {
              @include fonts(27px, $bg, 500);
            }
          .plusMinus {
            @include builderAligment(flex, center, 50px);
            height: 50px;
            border: none;
            background: none;
            align-items: center;
            cursor: pointer;
          }
        }
      }

      .ingredients {
        @include builderAligment(flex, center, 100%);
        flex-direction: column;

        .element {
          @include builder(flex, 100%);
          @include fonts(16px, $bg);
          box-sizing: border-box;
          padding-bottom: 20px;
          input {
            margin-right: 10px;
          }
          .measure {
            @include builderAligment(flex, flex-end, 100%);
            margin-right: 15px;
            @include fonts(16px, $bg, 500);
          }
        }
      }
    }
  }
  .instruction {
    @include builderAligment(flex, center, 100%);
    flex-wrap: wrap;
    .instructionTitle {
      @include builderAligment(flex, center, 100%);
      @include fonts(16px, $bg, 500);
      margin: 80px 0 40px 0;
    }
    .video {
      @include builderAligment(flex, center, 941px);
      height: 560px;

    }
  }
}

.message {
  position: fixed;
  right: 0;
  width: 30%;
  box-sizing: border-box;
  min-height: 100px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  transition: 0.1ms;
  height: 300px;
  border-radius: 20px 0 0 0;
  bottom: 0;
  background: #192e2b9e;
  .textForMessage {
    @include fonts(16px, $wh, 500);
    display: flex;
    justify-content: center;
  }
  .line {
    display: flex;
    padding-top: 7px;
    box-sizing: border-box;
    background: $orange;
    width: 100%;
    position: absolute;
    bottom: 0;
  }
}

.horizontal {
  border: 1px solid black;
  position: absolute;
  z-index: 1;
  width: 20px;
}

.vertical {
  position: absolute;
  z-index: 2;
  border: 1px solid black;
  transform: rotate(90deg);
  width: 20px;
}