@import "../../styles/mixin";
.mainSortColumn{
  display:flex;
  justify-content: flex-start;
  flex-direction: column;
  border-radius: 20px;
  background-color: $sortColumn;
  width: 100%;
  box-sizing: border-box;
  padding: 50px 0;
  box-shadow: $shadowTwo;
  &.dark {
    background-color: $sortColumn;
  }
  &.light {
    background-color: #36412b;
  }
  select {
    margin-left: 60px;
    border-radius: 20px;
    option{
      @include fonts(16px, $bg);
    }
  }
  .mainTitle{
    @include fonts(27px, $wh);
    font-weight: bold;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin: 20px 0 60px 0;
  }
  .title{
    @include fonts(16px, $wh);
    padding: 20px;
    font-weight: bold;
    border-bottom: 1px #888a89 solid;
    margin-left: 8px;
    box-sizing: border-box;
  }
  .variant{
    @include fonts(16px, $wh);
    font-weight: bold;
    box-sizing: border-box;
    padding-left: 34px;
  }
  .wrapperForInputGroup{
    flex-direction: column;
    align-items: center;
    @include builder(flex, 100%);
  }
}