@import "../../styles/mixin";
.homeWrapper{
  height: 2000px;
}
.mainWrapper {
  overflow-x: hidden;
  .mainBanner {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    position: relative;
    background: rgba(0, 0, 0, 0.22);
    height: 100vh;

    .salads {
      background: url("../../assets/plateMainWindow.png") no-repeat;
      width: 541.14px;
      height: 527.42px;
      background-size: cover;
      position: absolute;
      margin-left: 44px;
      top: 192px;
      left: 22px;

      &:before {
        box-shadow: 6px 4px 22px 7px rgba(0, 0, 0, 0.34);
      }
    }

    .leaf {
      background: url("../../assets/leave.png") no-repeat;
      width: 300px;
      height: 328px;
      background-size: cover;
      position: absolute;
      left: -50px;
      bottom: -45px;
    }

    .desk {
      background: url("../../assets/mainWindowDesc.png");
      width: 859px;
      background-size: cover;

      h3 {
        @include fonts(55px, $wh, 500);
        @include builder(flex, 100%);
        justify-content: center;
        margin: 326px 0 12px 0;
      }

      p {
        margin: 0;
        font-weight: 400;
        @include fonts(21px);
        @include builder(flex, 100%);
        justify-content: center;
      }
    }
  }

  .secondWindow {
    @include builderAligment(flex, space-around, 100%);
    padding: 146px 202px 108px 245px;
    box-sizing: border-box;

    .cherry {
      background: url("../../assets/tomatoes.png") no-repeat;
      width: 451px;
      height: 469px;
      background-size: contain;

      &:before {
        box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.25);
      }
    }

    .secondBlockText {
      @include builder(flex, 377px);
      flex-direction: column;
      margin: 86px 146px 0 0;

      h3 {
        @include builder(flex, 100%);
        justify-content: center;
        @include fonts(27px, $wh, 500);
        margin: 0 0 19px 0;
      }

      p {
        margin: 0;
        @include builder(flex, 100%);
        @include fonts(18px);
      }
    }
  }

  .thirdWindow {
    position: relative;
    @include builderAligment(flex, space-around, 100%);
    flex-wrap: wrap;
    margin-bottom: 120px;

    .leaf {
      background: url("../../assets/bigLeaf.png") no-repeat;
      position: absolute;
      width: 423.12px;
      height: 502.29px;
      background-size: cover;
      bottom: 80px;
      right: -120px;


      &:before {
        box-shadow: $shadowTwo;
      }
    }

    .secondLeaf {
      background: url("../../assets/secondLeaf.png") no-repeat;
      position: absolute;
      bottom: -300px;
      width: 423.12px;
      height: 502.29px;
      left: -42px;
      background-size: contain;
    }


    .cardWrapper {
      @include builderAligment(flex, center, 100%);

      .card {
        @include builder(flex, 285px);
        box-shadow: $shadowTwo;
        height: 336px;
        border-radius: 20px;
        background: url("../../assets/salmon-518032_1920.jpg") no-repeat;
        background-size: cover;
        flex-direction: column;
        justify-content: end;
        background-position: center;
        margin-right: 60px;
          &:last-child {
            margin-right: 0;
          }

        .whiteElem {
          @include builder(flex, 100%);
          height: 93px;
          background: $wh;
          border-radius: 20px;
          justify-content: space-around;

          .cardTitle {
            @include fonts(18px, black);
            margin: 13px 0 0 0;
          }
        }
      }
    }
  }
  .fourthWindow {
    @include builder(flex, 100%);
    flex-wrap: wrap;
    box-sizing: border-box;
    padding: 120px 0 120px 0;
    .factsWrapper{
      @include builderAligment(flex, center, 100%);
      .facts {
        @include builderAligment(flex, center, 300px);
        flex-wrap: wrap;
        margin-right: 60px;
        .factsImage{
          @include builder(flex, 275px);
          height: 275px;
          border-radius: 50%;
          background-position: center;
          box-shadow: $shadowTwo;
        }
        .factsContent {
          @include builder(flex, 100%);
          flex-wrap: wrap;
          h3{
            margin: 30px 0 0 0;
            justify-content: center;
            @include fonts(18px, $wh, 500);
            @include builder(flex, 100%);
          }
          p{
            @include fonts(16px, $wh);
            @include builder(flex, 100%);
          }
        }
        &:last-child{
          margin-right: 0;
        }
      }
    }
  }
  .fifthWindow {
    @include builderAligment(flex, center, 100%);
    height: 100vh;
    background: url("../../assets/anotherPage.png") no-repeat center;
    background-size: cover;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    h3 {
      @include fonts(40px, $wh, 500);
      margin: 0;
      display: flex;
    }
    p{
      display: flex;
      @include fonts(27px);
      width: 500px;
      text-align: center;
    }
  }
}
.beigeButton {
  border: #E2D4C4 solid;
  border-radius: 20px;
  @include builderAligment(flex, center, 158px);
  text-decoration: none;
  height: 37px;
  align-items: center;
  @include fonts(14px, $wh);
  transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  margin: 40px 0 0 200px;
  &:hover {
    //box-shadow: $shadowTwo;
    box-shadow: 0 14px 28px rgb(177 177 177 / 25%), 0 10px 10px rgb(0 0 0 / 22%);
  }
}

.title {
  @include builderAligment(flex, center, 100%);
  @include fonts(28px);
  margin-bottom: 80px;
}
