.save{
  background: url('../../assets/save_dark.png') no-repeat center;
  width: 25px;
  background-size: cover;
  height: 25px;
  position: absolute;
  right: 13px;
  bottom: 75px;
  z-index: 50;
  cursor: pointer;
}
.saveClicked{
  background:url("../../assets/save_orange.png") no-repeat;
  background-size: cover;
  width: 25px;
  height: 25px;
  position: absolute;
  right: 13px;
  bottom: 75px;
  z-index: 50;
  cursor: pointer;
}
.elem{
  height: 45px;
  position: absolute;
  bottom: 97px;
  z-index: 100;
  width: 100%;
  border-radius: 0 0 20px 20px;
  background: red;
  /*animation: fadeOut 5s;*/
  /*animation-iteration-count: infinite;*/
}
@keyframes fadeOut {
  from{
    opacity:1;
  }
  to{
    opacity: 0;
  }
}