@import "../../styles/mixin";

.darkGlass {
  @include builder(flex, 100%);
  min-height: 100vh;
  background: rgba(4, 4, 4, 0.3);
  position: relative;

  .textBlockWrapper {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 300px;
    @include fonts(40px);

  }

  .banner {
    @include builder(flex, 100%);
    min-height: 100vh;
    max-height: 100vh;
    background: url('../../assets/spagetti.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: -100;
  }
}

.mainContent {
  @include builder(flex, 100%);
  padding: 68px 80px 0 90px;
  box-sizing: border-box;

  .columnForSort {
    @include builder(flex, 387px);
  }

  .rightProdColumn {
    flex-direction: column;
    @include builder(flex, 1041px);
    padding-left: 68px;
    box-sizing: border-box;

    .products {
      @include builderAligment(flex, space-between, 100%);
      flex-wrap: wrap;
    }
  }

}

.card {
  background: $wh;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  flex-direction: column;
  height: 335px;
  position: relative;
  @include builder(flex, 250px);

  .image {
    width: 100%;
    min-height: 238px;
    max-height: 240px;
    background: $orange;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 20px;
    margin-bottom: 40px;
  }

  .textLink {
    text-decoration: none;
    .mainText {
      display: flex;
      flex-direction: column;
      margin-left: 14px;
      h3 {
        margin: 0;
        @include fonts(18px, black)
      }
      p {
        margin: 0;
        @include fonts(14px, black)
      }
      .ratingSec {
        flex-direction: row;
        @include builderAligment(flex, space-around, 100%);
      }
    }
  }
}