@import "../../styles/mixin";

.darkGlass {
  @include builder(flex, 100%);
  min-height: 100vh;
  background: rgba(4, 4, 4, 0.3);
  position: relative;

  .textBlockWrapper {
    position: absolute;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    margin-top: 300px;
    @include fonts(40px);

  }

  .banner {
    @include builder(flex, 100%);
    min-height: 100vh;
    max-height: 100vh;
    background: url('../../assets/spagetti.jpg') no-repeat center;
    background-size: cover;
    position: absolute;
    z-index: -100;
  }
}

.mainContent {
  @include builder(flex, 100%);
  padding: 68px 80px 0 90px;
  box-sizing: border-box;

  .columnForSort {
    @include builder(flex, 387px);
  }

  .rightProdColumn {
    flex-direction: column;
    @include builder(flex, 1041px);
    padding-left: 68px;
    box-sizing: border-box;

    .products {
      @include builderAligment(flex, space-between, 100%);
      flex-wrap: wrap;
    }
  }

}
.ratingSec {
  flex-direction: row;
  @include builderAligment(flex, space-around, 100%);
  justify-content: space-between;
  padding: 0 14px 20px 5px;
  box-sizing: border-box;
}