@import "../../styles/mixin";
.footer {
  @include builderAligment(flex, space-around, 100%);
  background: #1c2423;;
  flex: 0 0 auto;
  ul{
    list-style: none;
    @include builderAligment(flex, space-around, 500px);
  }
    li{
      a{
        text-decoration: none;
        @include fonts(16px, $wh);
      }
    }
  }
