@import "../../styles/mixin";
.energyWrapper {
  @include builderAligment(flex, center, 600px);
  flex-wrap: wrap;
  margin-top: 80px;
  box-sizing: border-box;
  .title {
    @include builderAligment(flex, center, 100%);
    @include fonts(16px, $bg, 500);
    padding-bottom: 40px;

  }
  .wrapperForEnergyBlock {
    @include builderAligment(flex, space-around, 80%);
    .energyBlock {
      display: flex;
      justify-content: center;
      margin-right: 35px;
      flex-direction: column;
      .count{
        @include fonts(16px, $bg, 500);
      }
      span {
        @include builderAligment(flex, center, 100%);
        @include fonts(11px, $bg);
        text-transform: uppercase;
        padding-bottom: 8px;
        box-sizing: border-box;
      }
    }
  }
}