@import "../../styles/mixin";

header {
  justify-content: flex-end;
  z-index: 101;
  display: flex;
  width: 1130px;
  box-sizing: border-box;
  position: absolute;
  top: 55px;
  left: 220px;

  ul {
    @include builder(flex, 348px);
    list-style: none;
    margin-right: 220px;

    li {
      margin-right: 20px;
      @include fonts(18px);

      &:last-child {
        margin: 0 0 0 46px
      }

      &:hover {
        font-weight: 500;
      }

      a {
        @include fonts(18px);
        text-decoration: none;
      }
    }
  }
}