@import "../../styles/mixin";

header {
  justify-content: flex-end;
  z-index: 101;
  display: flex;
  box-sizing: border-box;
  position: fixed;
  top: 55px;
  align-items: center;
  transform: translate(14%, -25%);

  .logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    a{
      @include fonts(22px, $wh);
      margin-right: 20px;
      text-decoration: none;
    }
    .description {
      h3{
        @include fonts(25px, $wh);
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      p{
        @include fonts(14px, $wh);
      }
    }
  }
  ul {
   display: flex;
    list-style: none;
    align-items: center;
    li {
      margin-right: 20px;
      @include fonts(18px);
      cursor: pointer;
      &:last-child {
        margin: 0 0 0 46px
      }

      &:hover {
        font-weight: 500;
      }

      a {
        @include fonts(18px);
        text-decoration: none;
      }
    }
    .lastLi{
      margin-right: 85px;
    }
    .menuButton {
      display: flex;
      justify-content: center;
      font-size: 16px;
      font-family: "Roboto", sans-serif;
      color: white;
      font-weight: 300;
      background: #F5AA20;
      text-decoration: none;
      padding: 10px;
      border: none;
      border-radius: 20px;
      align-items: center;
      cursor: pointer;
      margin-left: auto;
      margin-right: 20px;
    }
  }
}