@import './variables.scss';

@mixin builder($d, $w){
  display: $d;
  width: $w;
}
@mixin builderAligment($d, $jC, $w){
  display: $d;
  justify-content: $jC;
  width: $w;
}
@mixin fonts($fS,$fC:$wh, $fw: 300){
  font-size: $fS;
  font-family: 'Roboto', sans-serif;
  color: $fC;
  font-weight: $fw;
}